@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-900 text-slate-50;
  }
}

@media print {
  @page {
    margin: 0;
    size: A4;
  }

  body {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }
}